name: Builds

on:
  - push
  - pull_request

permissions: read-all

jobs:
  build:
    runs-on: unbuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5

      - name: Install
        run: opam install . --deps-only --with-test

      - name: Build
        run: opam exec -- dune build

      - name: Test
        run: opam exec -- dune runtest
